# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [74]:
# Import the necessary libraries and CSVs. Make some dataframes
import pandas as pd
import numpy as np

baltimore_df = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston_df    = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
newyork_df   = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philly_df    = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [ ]:
# Clean your data here!
# BAltimore
print('Baltimore')

#
baltimore_df.shape

# Count missing values per column
baltimore_df.isnull().sum()

# Percentage of missing values per column
# baltimore_df.isnull().mean() * 100

# Drop rows with any missing values
baltimore_df = baltimore_df.drop(["Grade", "Type", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1)

# Count missing values per column
baltimore_df.isnull().sum()

Baltimore

Commodity Name       0
City Name            0
Package              0
Variety              2
Sub Variety        128
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               5
Origin District    153
Item Size           25
Color              122
Unit of Sale       129
Repack               0
dtype: int64

In [76]:
# Clean your data here!
# Boston
print ('Boston')
# Count missing values per column
boston_df.isnull().sum()

# Percentage of missing values per column
boston_df.isnull().mean() * 100

# Drop rows with any missing values
boston_df = boston_df.drop(["Grade", "Type", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1) 

# Count missing values per column
boston_df.isnull().sum()

Boston

Commodity Name       0
City Name            0
Package              0
Variety              0
Sub Variety        324
Date                 0
Low Price            0
High Price           0
Mostly Low           0
Mostly High          0
Origin               0
Origin District    286
Item Size            4
Color               48
Unit of Sale       306
Repack               0
dtype: int64

In [77]:
# Clean your data here!
# New York
print('New York')

# Count missing values per column
newyork_df.isnull().sum()

# Percentage of missing values per column
newyork_df.isnull().mean() * 100

# Drop rows with any missing values
newyork_df = newyork_df.drop(["Grade", "Type", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1) 

# Count missing values per column
newyork_df.isnull().sum()

New York

Commodity Name      0
City Name           0
Package             0
Variety             0
Sub Variety        94
Date                0
Low Price           0
High Price          0
Mostly Low          0
Mostly High         0
Origin              0
Origin District    97
Item Size           8
Color              91
Unit of Sale       87
Repack              0
dtype: int64

In [78]:
# Clean your data here!
# Phily
print('Philly')

# Count missing values per column
philly_df.isnull().sum()

philly_df.shape

# Percentage of missing values per column
philly_df.isnull().mean() * 100

# Drop rows with any missing values
philly_df = philly_df.drop(["Grade", "Type", "Environment", "Quality", "Condition", "Appearance", "Storage", "Crop", "Trans Mode"], axis=1) 

# Count missing values per column
philly_df.isnull().sum()

Philly

Commodity Name      0
City Name           0
Package             0
Variety             0
Sub Variety        45
Date                0
Low Price           0
High Price          0
Mostly Low          0
Mostly High         0
Origin              0
Origin District    57
Item Size          12
Color              57
Unit of Sale       46
Repack              0
dtype: int64

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [83]:
# Combine the four dataframes into one!
northeast_df=pd.concat([baltimore_df,boston_df,newyork_df,philly_df],ignore_index=True)

northeast_df.head()

northeast_df.shape

(674, 16)

In [84]:
northeast_df

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Origin District,Item Size,Color,Unit of Sale,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,NaN,lge,NaN,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,NaN,med,NaN,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,NaN,med,NaN,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,NaN,lge,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
670,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,NaN,SHELLACKED,N
671,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
672,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,NaN,SHELLACKED,N
673,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,NaN,SHELLACKED,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [89]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
grouped_by_units_of_sale = northeast_df.groupby("Unit of Sale").agg(
    {"Low Price": "mean", 
     "High Price": "mean"
})

grouped_by_units_of_sale

               Low Price  High Price
Unit of Sale
EACH           47.916667   59.166667
PER BIN       185.845070  206.619718
SHELLACKED     16.000000   17.545455

In [91]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
counts_by_variety = northeast_df.groupby("Variety").size().reset_index(name='count')

counts_by_variety

                    Variety  count
0             BIG MACK TYPE     55
1                 BLUE TYPE      7
2                CINDERELLA     39
3                 FAIRYTALE     37
4               HOWDEN TYPE    224
5         HOWDEN WHITE TYPE      2
6              KNUCKLE HEAD      9
7                 MINIATURE     97
8  MIXED HEIRLOOM VARIETIES      4
9                  PIE TYPE    198

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [ ]:
# Try the bonus mission if you have time!