# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
-- return top 100 results
SELECT TOP 100
    book_id
    ,authors
    ,title
    ,average_rating as rating
FROM BooksDB.dbo.books
ORDER BY rating DESC;

Question 2: Write a query to find the least popular book.

In [ ]:
-- return least popular book
SELECT TOP 1
    book_id
    ,authors
    ,title
    ,average_rating as rating
FROM BooksDB.dbo.books
ORDER BY rating ASC;

Question 3: Which tag is the most popular?

In [ ]:
-- return most popular tag
SELECT TOP 1 tag_id, COUNT(tag_id) 
FROM BooksDB.dbo.book_tags
GROUP BY tag_id
ORDER BY COUNT(tag_id) DESC

Question 4: What is the name of the most popular tag?

In [ ]:
-- return name of most popular tag
SELECT TOP 1
    BooksDB.dbo.tags.tag_name as "Tag Name",
    BooksDB.dbo.book_tags.tag_id as "Tag ID", 
    COUNT(BooksDB.dbo.book_tags.tag_id) as "Total"
FROM BooksDB.dbo.book_tags
INNER JOIN BooksDB.dbo.tags
on BooksDB.dbo.book_tags.tag_id = BooksDB.dbo.tags.tag_id   
GROUP BY BooksDB.dbo.book_tags.tag_id, BooksDB.dbo.tags.tag_name
ORDER BY COUNT(BooksDB.dbo.book_tags.tag_id) DESC

Question 5: How many books where released in the first decade of 2000?

In [ ]:
-- return number of books published in the first decade of 2000
SELECT COUNT(title) AS "Books Released from between 2000 and 2010"
FROM BooksDB.dbo.books
WHERE original_publication_year > 2000 and original_publication_year <= 2010;

Question 6: How many book titles contain the word, "happy"?

In [ ]:
-- return number of books that contain the word, "happy"
SELECT COUNT(title)
FROM BooksDB.dbo.books
WHERE title LIKE '%happy%'

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
-- return all books from the top 3 authors, sort by author and rating
SELECT
    book_id,
    authors,
    title,
    average_rating as rating
FROM BooksDB.dbo.books
WHERE authors IN ('Bill Watterson', 'Brandon Sanderson', 'J.K. Rowling')
ORDER BY authors ASC, rating DESC;

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
-- return number of authors whose first name is between rock and roll
SELECT COUNT( DISTINCT LTRIM(RTRIM(value)) )  AS Author
FROM BooksDB.dbo.books
CROSS APPLY STRING_SPLIT(authors, ',')
WHERE LOWER(LTRIM(RTRIM(value))) BETWEEN 'rock' AND 'roll'

## Part 2: Find the Answers to Your Own Questions

Your Question:  What are the most frequently used tags in books with fewer than 3,000 ratings?

In [ ]:
-- Add your query here
SELECT Top 10
    T.tag_name,
    SUM(BT.count) AS TagUsage
FROM BooksDB.dbo.books B
    JOIN BooksDB.dbo.book_tags BT 
    ON B.book_id = BT.goodreads_book_id
    
    JOIN BooksDB.dbo.tags T 
    ON BT.tag_id = T.tag_id
WHERE B.ratings_count < 3000
GROUP BY T.tag_name
ORDER BY T.tag_name ASC, TagUsage DESC;

Your Question:  Which books have been added to the most users’ ‘to-read’ shelves?

In [ ]:
--return the top 10 books users want to read
SELECT TOP 10 COUNT(TR.book_id), B.title
FROM BooksDB.dbo.to_read AS TR
INNER JOIN BooksDB.dbo.books AS B
ON TR.book_id = B.book_id  
GROUP BY B.title
ORDER BY COUNT(TR.book_id) DESC;

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?